# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production (CRA)
/build

# production (Vite)
dist/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel local
.vercel/

# editor & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
.eslintcache

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# (optionnel) éviter d'envoyer des gros fichiers locaux
# public/downloads/*
